<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-dark bg-dark">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">Resume</button>
  </form>
  
  <div class="row">
    <a href="https://www.linkedin.com/in/steven-purcell-b1106142/" class="fa fa-linkedin"></a>
    <a href="https://github.com/steven-purcell" class="fa fa-github"></a>
  </div>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="250" alt="Sloth Face" src="/assets/sloth_face.jpg">
</div>
<h2 align='center'>You can hire me to make your data work for you! </h2>


