<!-- Social Media Link Styles-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Creates a layout with a left-positioned sidenav and explicit content. -->
<div class="sidenav">
  <img width="90" alt="Sloth Face" src="/assets/sloth_face.jpg">
  <h4>About Me</h4>
  <p>{{aboutMe}} 
  </p>
  <a href="https://www.linkedin.com/in/steven-purcell-b1106142/" class="fa fa-linkedin"></a>
  <a href="https://github.com/steven-purcell" class="fa fa-github"></a>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div>
