<h1 align="center">What I Do</h1>

<div class="container">
    <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"
        [options]="doughnutChartOptions"></canvas>
    <!-- <canvas baseChart style="position:absolute;" style="height: 168px"
        [data]="innerDoughnutChartData"
        [labels]="innerDoughnutChartLabels"
        [chartType]="innerDoughnutChartType"
        [options]="innerDoughnutChartOptions"></canvas> -->
</div>
